@import 'semantic-ui';

html,body{
	font-size:16px;
	height:auto;
}

body {
	background-color: #FFFFFF;
}

.main.container {
	padding: 0em 0em 0em 9.3em;
	min-width:1127px;
}
.sub.container {
	padding: 0em 0em 0em 9.3em;
	min-width:1127px;
}

.wireframe {
	margin-top: 2em;
}

.ui.footer.segment {
	margin: 5em 0em 0em;
	padding: 5em 0em;
}

.ui[class*="left fixed"].menu {
	top: 4.15em;
	width: 14.0625em;
}

.ui[class*="right fixed"].menu {
	width:5.4em;
	justify-content: center;
}

.ui[class*="top fixed"].menu {
	box-shadow: none;
}

.ui[class*="bottom fixed"].menu {
	box-shadow: none;
	left: 14em;
	width: 100%;
}

.logo-text{
	font-size: 18px;
	color: #FF6483;
	padding: 0.12em 0em 0em 0.68em;
	letter-spacing: 0.065em;
}

.ui.menu .item {
	color:#576878;
}

.ui.menu .item::before {
	top: 25%;
	height: 55%;
}

.ui.menu .header.item{
	min-width:14em;
}

.ui.button {
	background:#ffffff;
	margin: 0em 0em 0em 0em;
}
.ui.icon.button {
	padding: 1.5em 1.05em;
	border-radius: 0px;
}

.ui.menu .item > .input {
	width: 18.7em;
	border: 1px solid rgba(34, 36, 38, 0.15);
	border-radius: 0.1875rem;
	padding: 0.3em 0.625em 0.5em 0.625em;
}
.ui.menu .item > .input input {
	letter-spacing: -0.05em;
	word-spacing: 0.2em;
}

.ui.search .prompt ~ .search.icon {
	font-size:1em;
	padding: 0.625em 1.25em 0.625em 1.25em;
}

.ui.item.search.borderless{
	padding: 0.9375em 0.40em;
}

i.icon,
i.icons {
	font-size:1.3em;
}

.ui.container.right{
	justify-content: flex-end;
	padding-right: 0.75em;
}

.ui.container.rightmost{
	justify-content: flex-end;
	padding-right: 4.4em;
	width: unset;
}

.ui.icon.button.head{
	padding: 1.5em 0.86em 1.5em 0.86em;
}

.ui.avatar.image.sided{
	font-size: 16px;
	height: 2.8em;
	padding: 0em 1.26em 0em;
	border-radius: 0em;
	width:auto;
}

.user-avatar{
	font-size:0;
}

.avatar-text{
	padding: 0em 2em 0em;
	font-size: 10px;
	margin-top: -0.2em;
	display: block;
	margin-bottom: 2.25em;
}

.avatar-pusher{
	padding-top: 1.55em;
}

.menu-text{
	color:#90A2B6;
	font-size:13px;
	padding-left:2.3em;
	letter-spacing: -0.04em;
}

.menu-text-extra{
	color:#A3B3C2;
	font-size: 14px;
    padding-top: 0.4em;
	letter-spacing: -0.01em;
}

.grid-text{
	color:#90A2B6;
	font-size: 14px;
	padding-left: 0.2em;
	letter-spacing: -0.04em;
	padding-top: 0.3em;
	padding-bottom: 1.1em;
}

.grid-text.main{
	float: left;
	padding-left: 0.2em;
	font-size: 18px;
	letter-spacing: unset;
}
.item-text{
	letter-spacing: 0.02em;
}
.side-menu{
	padding-top:2.17em;
}

.menu-pusher{
	margin-top: 0.65em;
}

.menu-divider{
	padding-top: 3em;
}

.grid-pusher{
	margin-top: 0em;
}

.ui.segment > .ui.menu {
	width:100%;
	border: none;
	box-shadow: unset;
}

.ui.segment > .ui.vertical.menu .item {
	padding:  0.7em 0em 0.7em 0.2em;
	letter-spacing: 0.02em;
}

.ui.segment > .ui.vertical.menu .item > .menu-text-extra {
	letter-spacing: 0em;
}

.ui.vertical.menu .item {
	padding: 1.12em 1.4em 1.11em 2.2em;
	font-size: 14px;
}

.ui.vertical.menu .item.secondary{
	padding: 0.9em 1.4em 0.9em 2.13em;
	letter-spacing: -0.02em;
	margin-bottom: 0.4em;
}

.ui.vertical.menu .item.secondary.relaxed{
	letter-spacing: 0.02em;
	padding: 0.705em 0.5em 0.705em 2.13em;
	margin: 0em;
}

.ui.vertical.menu .item > i.icon {
	float:left;
	margin: 0em 1.1em 0em 0em;
}

.ui.vertical.menu .item > .label {
	font-size: 11px;
	padding: 0.4em 0.6em;
	margin: -0.22em 0.7em 0em 0em;
	background-color:#EFF4FA;
	color:#90A3B4;
}

.ui.vertical.menu .item > .label.active {
	font-size: 11px;
	padding: 0.4em 0.6em;
	margin: -0.22em 0.7em 0em 0em;
	background-color:#FF6581;
	color:#FFFFFF;
}

.ui.vertical.menu .item > .label.secondary {
	font-size: 11px;
	padding: 0.4em 0.65em;
	background-color: #EFF4FA;
	color: #90A3B4;
	margin-right: 1.1em;
}

.ui.vertical.menu .item > .label + i.icon {
  float: none;
  margin: 0em 0.6em 0em 0em;
}

.pusher{
	background-color:#eff4fa;
}
.ui.fluid.image{
	min-width:1127px;
	height: 14em;
	padding-top: 4.15em;
	padding-left: 14em;
	padding-right: 5.45em;
}

.ui.menu.user {
	margin:0em;
	min-width:1127px;
}

.ui.image.user{
	height: 9.75em;
	margin: -6.3em -0.2em 0em -1.2em;
	border-style: solid;
	border-width: 3px;
	border-color: #ffffff;
}

.ui.menu .item.user.main::before {
	margin: 0em 0em 0em 0em;
}

.ui.menu .item.user.sub::before {
	margin: 0em 0em 0em 0em;
	top: 20%;
	height: 57%;
}

.item.user.main {
	font-size: 24px;
	margin: -0.2em 0em 0em -0.05em;
	letter-spacing: 0.025em;
	word-spacing: 0.01em;
	padding-right: 1.75em;
}

.item.user {
	margin: 0.05em 0em 0em 1.25em;
	letter-spacing: 0.03em;
	padding: 0em 0em 0em 0em;
}

.item.user.sub {
	margin: 0.05em 0em 0em 0em;
	padding: 0em 2.4em 0em 2.4em;
	flex-grow: 1;
}

.item.user .description{
	font-size: 14px;
	padding: 0.2em 0em 0.2em 0em;
	letter-spacing: 0.0em;
}

.item.user.main .description{
	font-size: 14px;
	padding: 0.1em 0em 0.2em 0.1em;
	letter-spacing: 0.025em;
}

.ui.primary.button {
	margin: 1.85em -0.35em 1.9em 2.82em;
	padding: 0.0em 1.35em 0em 1.25em;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.04em;
}

.ui.grid {
    margin-top: 0.3rem;
    margin-bottom: -1rem;
	margin-left: -1rem;
    margin-right: -1.3rem;
	padding-bottom: 4em;
}

.ui.grid > .row > [class*="eleven wide"].column,
.ui.grid > .column.row > [class*="eleven wide"].column,
.ui.grid > [class*="eleven wide"].column,
.ui.column.grid > [class*="eleven wide"].column {
	width: 69.8% !important;
}

.ui.grid > .row > [class*="five wide"].column,
.ui.grid > .column.row > [class*="five wide"].column,
.ui.grid > [class*="five wide"].column,
.ui.column.grid > [class*="five wide"].column {
	width: 26.7% !important;
}

.ui.grid > .column:not(.row), .ui.grid > .row > .column {
	padding-left: 0rem;
	margin-right: 1em;
	padding-right: 0em;
}

.ui.grid > .row {
	padding-top: 0.9rem;
}

.ui.secondary.buttons .button {
	background-color: #566777;
	color: #98A9BB;
}

.ui.button > .icon:not(.button) {
	margin:0;
}

.ui.segment {
	padding: 1.6em 1.6em 1.5em 1.6em;
	border-radius: 0px;
	border: none;
	margin: 1rem 0em 0.2rem 0em;
}

.ui.table{
	border: none;
	border-radius: 0px;
	color:#5d6e80;
}

.ui.mini.images {
	padding: 10px 0em 0em;
}
.ui.mini.images .image,
.ui.mini.images img,
.ui.mini.images svg,
.ui.mini.image {
	width:10px;
	float:right;
	margin-right: 20.6px;
}

.ui.segment i.icon {
	float:right;
	padding: 9px 2px 0px 0px;
}

.ui.segment > .ui.grid{
	margin-left:-1.6rem;
	margin-right:-1.6rem;
}
//All the following grids are coded for main block (CLASS TIMELINE), as they otherwise affect all the other grids, workaround: add separate classes for timeline grids/segments and inline grids/segments
//Basically almost all of this is an override to default grid styling for a particular nesting
.ui[class*="three column"].grid  {
  padding-bottom:0em;
  color:#556676;
}
.ui[class*="three column"].grid > .row > .column,
.ui[class*="three column"].grid > .column:not(.row) {
  margin-right: 1.2em;
}
.ui[class*="three column"].grid > .row > .column > .ui.segment{
	box-shadow: none;
	padding: 0.27em 0em 0em 3.22em;
	font-size: 14px;
}
.ui[class*="three column"].grid > .column:not(.row), .ui.grid > .row > .column {
	margin-right: 1em;
}
.ui[class*="three column"].grid > .row > [class*="two wide"].column > .segment {
	padding: 0.25em 0.45em 0.19em 1em;
}
.ui[class*="three column"].grid > .row > [class*="nine wide"].column > .segment {
	padding: 0.27em 1em 0em 3.22em;
	font-size: 14px;
	margin-right: -1em;
	-webkit-transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
	transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
	position: relative;
}
.ui[class*="three column"].grid > .row > [class*="nine wide"].column > .segment:hover {
	background: rgba(0, 0, 0, 0.05) !important;
	color: rgba(0, 0, 0, 0.95) !important;
}
.ui[class*="three column"].grid > .row > [class*="two wide"].column > segment:nth-child(2) time-text {
	margin:0em 0em 0em 0em;
}
.ui[class*="three column"].grid > .row > [class*="nine wide"].column > .segment > .item {
	margin:-0.05em 0em 0em 0em;
	letter-spacing: 0.03em;
}
.ui[class*="three column"].grid > .row > .column > .ui.segment > .item > .menu-text-extra{
	color: #A3B3C2;
	font-size: 12px;
	padding-top: 0em;
	letter-spacing: 0.02em;
	display: block;
	margin-top: -0.1em;
}
.ui[class*="three column"].grid > .row > [class*="nine wide"].column > .ui.segment > .menu-text-extra{
	color: #A3B3C2;
	font-size: 12px;
	padding-top: 0em;
	letter-spacing: 0.02em;
	display: block;
	margin-top: -0.15em;
}
.ui[class*="three column"].grid > .row > [class*="nine wide"].column > .ui.segment > .menu-text-professor{
	color:#556676;
	font-size: 14px;
	padding-top: 0em;
	letter-spacing: -0.01em;
	margin-top: -0.05em;
	float: right;
	margin-right: -0.25em;
}
.ui[class*="three column"].grid > .row > [class*="nine wide"].column > .ui.segment > .menu-text-attachments{
	color: #A3B3C2;
	font-size: 12px;
	letter-spacing: 0.01em;
	bottom: 1px;
	position: absolute;
	right: 7px;
}
.ui[class*="three column"].grid > .row > [class*="nine wide"].column > .ui.segment > .menu-text-attachments > i.icon  {
	padding:0em;
}
.ui[class*="three column"].grid > .row > [class*="nine wide"].column > .ui.segment > .menu-text-attachments > i.icon.attach::before {
	margin:0em;
}
.time-text-begin{
	display: block;
	letter-spacing: 0.02em;
}
.time-text-end{
	display: block;
	letter-spacing: 0.02em;
	margin-top: -0.25em;
}
.label.timeline{
	float: left;
	margin-left: -2.6em !important;
	background: none;
	display: block;
	margin-top: -0.15em;
}

.label.head{
	float: right;
	margin-left: -3.6em !important;
	background: none;
	display: block;
	margin-top: -0.85em;
	margin-right: -1em;
}

//styles for CALENDAR - experimental semantic module, not included with semantic-ui-sass and other variants

/*******************************
            Popup
*******************************/

.ui.calendar .ui.popup {
  max-width: none;
  padding: 0;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


/*******************************
            Calendar
*******************************/

.ui.calendar .calendar:focus {
  outline: 0;
}


/*******************************
            Table
*******************************/

.ui.calendar .ui.table.year,
.ui.calendar .ui.table.month,
.ui.calendar .ui.table.minute {
  min-width: 7em;
}
.ui.calendar .ui.table.day {
  min-width: 9em;
}
.ui.calendar .ui.table.hour {
  min-width: 10em;
}
.ui.calendar .ui.table tr th,
.ui.calendar .ui.table tr td {
  padding: 0.5em;
  white-space: nowrap;
}
.ui.calendar .ui.table tr th {
  border-left: none;
}
span.link{
	float:left;
	padding-left: 0.3em;
	font-size:18px;
}
.ui.calendar .ui.table tr th .icon {
  margin: 0;
}
.ui.calendar .ui.table tr:first-child th {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  background-color:#ffffff;
  color:#8ba0b3;
}
.ui.calendar .ui.table.day tr:first-child th {
  border: none;
}
.spacer{
  height: 1.45em;
  position:relative
}
.ui.calendar .ui.table.day tr:nth-child(3) th {
	padding-top: 0.9em;
	padding-bottom: 1.1em;
	//border-top: 3px solid #dee3e9;
	border-bottom: none;
	padding-right: 0em;
	padding-left: 0em;
	background-color: #ffffff;
	color:#959fb8;
}
.spacer:after {
	content:""; 
	background: #dee3e9;
	position: absolute; 
	bottom:0;
	left: 5px;
	height: 1px;
	width: 93%;
}
.spacer.main {
	height:2.65em;
}
.spacer.main:after{
	left:4px;
	width:98.6%;
}
.spacer.sub {
	height:1.35em;
}
.spacer.sub:after{
	left:4px;
	width:98.6%;
}
.ui.calendar .ui.table tr td {
    padding: 0.55em 0em 0.12em 0em;
    font-size: 11px;
	border: none;
	border-radius: 20px;
}
.ui.calendar .ui.table tr .link {
  cursor: pointer;
}
.ui.calendar .ui.table tr .prev.link {
  width: 14.28571429%;
  position: absolute;
  left: 0;
  display:none;
}
.ui.calendar .ui.table tr .next.link {
  width: 14.28571429%;
  position: absolute;
  right: 0;
  display:none;
}
.ui.calendar .ui.table tr .disabled {
  pointer-events: none;
  color: rgba(40, 40, 40, 0.3);
}

/*--------------
     States
---------------*/

.ui.calendar .ui.table tr td.today {
  font-weight: normal;
}
.ui.table thead th {
	  font-weight: normal;
}
.ui.table {
	font-size:12px;
}
.ui.calendar .ui.table tr td.range {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
  box-shadow: none;
}
.ui.calendar .ui.table.inverted tr td.range {
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
  box-shadow: none;
}
.ui.calendar .calendar:focus .ui.table tbody tr td.focus,
.ui.calendar .calendar.active .ui.table tbody tr td.focus {
  box-shadow: inset 0 0 0 1px #85B7D9;
}
.ui.calendar .calendar:focus .ui.table.inverted tbody tr td.focus,
.ui.calendar .calendar.active .ui.table.inverted tbody tr td.focus {
  box-shadow: inset 0 0 0 1px #85B7D9;
}


/*******************************
         Theme Overrides
*******************************/

//styles for CHAT UI - experimental semantic module, not included with semantic-ui-sass and other variants

/*******************************
           Chat Room
*******************************/
.ui.chatroom {
  background-color: #F8F8F8;
  padding: 0px;
  top: auto;
  left: 1088px;
  margin-right: 0px;
  display: block;
  z-index: 1012;
  bottom: 65px;
  position: fixed;
}
.ui.chatroom .room {
  position: relative;
  background-color: #FFFFFF;
  overflow: hidden;
  height: 286px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  border-bottom: none;
}
.ui.chatroom .room .loader {
  display: none;
  margin: -25px 0px 0px -25px;
}
/* Chat Room Actions */
.ui.chatroom .actions {
  overflow: hidden;
  background-color: #566777;
  padding: 4px;
  //border: 1px solid rgba(0, 0, 0, 0.1);
  //border-radius: 5px 5px 0px 0px;
}
.ui.chatroom .actions .button {
  float: right;
  margin-left: 3px;
}
/* Online User Count */
.ui.chatroom .actions .message {
  float: left;
  margin-left: 1em;
  font-size: 14px;
  color: #FFFFFF;
  //text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.8);
  line-height: 28px;
}
.ui.chatroom .actions .message .loader {
  display: inline-block;
  margin-right: 8px;
}
/* Chat Room Text Log */
.ui.chatroom .log {
  float: left;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.ui.chatroom .log .message {
  padding: 3px 0px;
  border-top: 1px dotted #DADADA;
}
.ui.chatroom .log .message:first-child {
  border-top: none;
}
/* status event */
.ui.chatroom .status {
  padding: 5px 0px;
  color: #AAAAAA;
  font-size: 12px;
  font-style: italic;
  line-height: 1.33;
  border-top: 1px dotted #DADADA;
}
.ui.chatroom .log .status:first-child {
  border-top: none;
}
.ui.chatroom .log .flag {
  float: left;
}
.ui.chatroom .log p {
  margin-left: 0px;
}
.ui.chatroom .log .author {
  font-weight: bold;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.ui.chatroom .log a.author:hover {
  opacity: 0.8;
}
.ui.chatroom .log .message.admin p {
  font-weight: bold;
  margin: 1px 0px 0px 23px;
}
.ui.chatroom .log .divider {
  margin: -1px 0px;
  font-size: 11px;
  padding: 10px 0px;
  border-top: 1px solid #F8F8F8;
  border-bottom: 1px solid #F8F8F8;
}
.ui.chatroom .log .divider .rule {
  top: 50%;
  width: 15%;
}
.ui.chatroom .log .divider .label {
  color: #777777;
  margin: 0px;
}
/* Chat Room User List */
.ui.chatroom .room .list {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  float: left;
  background-color: #EEEEEE;
  border-left: 1px solid #DDDDDD;
}
.ui.chatroom .room .list .user {
  display: table;
  padding: 3px 7px;
  border-bottom: 1px solid #DDDDDD;
}
.ui.chatroom .room .list .user:hover {
  background-color: #F8F8F8;
}
.ui.chatroom .room .list .image {
  display: table-cell;
  vertical-align: middle;
  width: 20px;
}
.ui.chatroom .room .list .image img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.ui.chatroom .room .list p {
  display: table-cell;
  vertical-align: middle;
  padding-left: 7px;
  padding-right: 14px;
  font-size: 11px;
  line-height: 1.2;
  font-weight: bold;
}
.ui.chatroom .room .list a:hover {
  opacity: 0.8;
}
/* User List Loading */
.ui.chatroom.loading .loader {
  display: block;
}
/* Chat Room Talk Input */
.ui.chatroom .talk {
  border: 1px solid rgba(0, 0, 0, 0.1);
  //padding: 5px 0px 0px;
  background-color: #FFFFFF;
  //border-radius: 0px 0px 5px 5px;
}
.ui.chatroom .talk .avatar,
.ui.chatroom .talk input,
.ui.chatroom .talk .button {
  float: left;
}
.ui.chatroom .talk .avatar img {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  border-radius: 500rem;
}
.ui.chatroom .talk input {
  border: none;
  margin: 0px;
  width: 194px;
  height: 38px;
  padding: 0.5em 1em;
  //font-size: 12px;
  color: #555555;
}
.ui.chatroom .talk input.focus {
  border: 1px solid #AAAAAA;
}
.ui.chatroom .send {
  width: 50px;
  height: 38px;
  margin-left: -1px;
  padding: 4px 12px;
  //font-size: 12px;
  line-height: 30px;
  //-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  //box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  //border-radius: 0 5px 5px 0;
  border:none;
}
.ui.chatroom .talk .log-in.button {
  display: block;
  float: none;
  margin-top: -6px;
  height: 22px;
  border-radius: 0px 0px 4px 4px;
}
.ui.chatroom .talk .log-in.button i {
  vertical-align: text-top;
}
/* Quirky Flags */
.ui.chatroom .log .team.flag {
  width: 18px;
}
/* Chat room Loaded */
.ui.chatroom.loading .loader {
  display: block;
}
/* Standard Size */
.ui.chatroom {
  width: 245px;
  height: 300px;
}
.ui.chatroom .room .container {
  width: 3000px;
}
.ui.chatroom .log {
  width: 314px;
  height: 278px;
  padding: 4px 7px;
}
.ui.chatroom .room .list {
  width: 124px;
  height: 278px;
  padding: 4px 0px;
}
.ui.chatroom .room .list .user {
  width: 110px;
}
.ui.chatroom .talk {
  height: 40px;
}
